/* BREAKPOINTS */
$iphone-6: 375px;
$iphone-6-plus: 414px;
$ipad: 768px;
$laptop: 1200px;

/* COLORS */
$primary-color-dark:    #1A4D29;
$primary-color:         #53A655;
$primary-color-light:   #53A655;
$primary-color-text:    #FFFFFF;
$accent-color:          #607D8B;
$primary-text-color:    #212121;
$secondary-text-color:  #727272;
$divider-color:         #B6B6B6;
$link-color:            #0CBAD4;
$button-inactive-color: #999999;
$placeholder-color:     #999999;
$favorite-color:        #dd2e44;
$google-map-color:      #0057e7;
$error-color:           #db2900;


/* FONTS */
$font-family-primary: 'Roboto', sans-serif;
