.borough-button {
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	margin: 5px;
	padding: 10px 0;
	text-align: center;
	width: 110px;

	&.highlight {
		background: black;
		color: white;
	}
}