.borough-button {
	@include transition(all .3s);

	background: $primary-color-dark;
	color: $primary-color-text;
	cursor: pointer;
	font-family: $font-family-primary;
	margin: 5px;
	padding: 10px 0;
	text-align: center;
	width: 110px;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	&:hover, &.highlight {
		background: $primary-color-light;
	    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
}