.court-container {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	color: $primary-text-color;
	font-family: $font-family-primary;
	margin: 20px 0px;
	perspective: 800px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;

	.frontface {
		backface-visibility: hidden;
		position: relative;
		z-index: 1;
	}

	.backface {
		backface-visibility: hidden;
		background: #fff;
		@include box-sizing(border-box);
		height: 100%;
		padding: 10px;
		position: absolute;
		top: 0;
		transform: rotateY(180deg);
		width: 100%;
		z-index: 2;

		.close-icon {
			cursor: pointer;
		}
	}

	&.flipped {
		transform: rotateY(180deg);
	}

	.image-container {
		height: 200px;
		width: 300px;

		img {
			display: block;
		}
	}

	.content-container {
		height: 80px;
		position: relative;
		width: 300px;
		background: #fff;

		h2 {
			font-size: 16px;
			margin: 10px 0px 10px 10px;
		}

		h3 {
			font-size: 12px;
			margin: 0px 0px 10px 10px;
		}

		a {
			color: $link-color;
			cursor: pointer;
			font-size: 14px;
			margin: 0px 0px 10px 10px;
		}

		.map-icon {
			bottom: 10px;
			color: $button-inactive-color;
			cursor: pointer;
			position: absolute;
			right: 35px;

			&:hover {
				color: $google-map-color;
			}
		}

		.favorite-icon {
			bottom: 10px;
			color: $button-inactive-color;
			cursor: pointer;
			position: absolute;
			right: 10px;

			&:hover {
				color: $favorite-color;
			}
		}
	}
}