.nav-bar {
	@include transition(all .3s);
	
	border-bottom: 1px solid #999;
	height: 60px;
	position: fixed;
	width: 100%;

	a {
		@include transition(all .3s);

		color: #999;
		font: 24px Helvetica;
		display: inline-block;
		margin-left: 30px;
		margin-top: 15px;
		text-decoration: none;
	}

	&.highlight {
		background-color: #999;
		height: 50px;

		a {
			color: #fff;
			margin-left: 15px;
			margin-top: 10px;
		}
	}
}