.nav-bar-wrapper {
	nav {
		@include transition(all .3s);

		background-color: $primary-color-dark;
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
		font-family: $font-family-primary;
		height: 50px;
		overflow: hidden;
		position: fixed;
		width: 100%;
		z-index: 1;

		.link-wrapper {
			display: inline-block;
			margin: 10px 0px 0px 20px;
			text-decoration: none;

			.text {
				display: none;
				color: $primary-color-text;
				font: 24px $font-family-primary;
				display: none;
				text-decoration: none;

				@media (min-width: $ipad) {
					display: inline-block;	
				}

				.borough {
					@include transition(top .15s ease-out);

					color: $primary-color-text;
					display: none;
					font-size: 12px;
					position: relative;
					top: 32px;
					left: 10px;

					@media (min-width: $ipad) {
						display: inline-block;	
					}
				}
			}

			.logo {
				width: 30px;

				@media (min-width: $ipad) {
					display: none;	
				}
			}

			@media (min-width: $ipad) {
				margin: 10px 0 0 40px;
			}
		}
	}

	.spacer {
		height: 50px;
	}

	&.highlight {
		.link-wrapper .text .borough{
			top: 0px;
		}
	}
}
