.nav-bar-wrapper {
	nav {
		@include transition(all .3s);
		
		background-color: #fff;
		border-bottom: 1px solid #999;
		height: 60px;
		margin-bottom: 60px;
		position: fixed;
		width: 100%;
		z-index: 1;

		a {
			@include transition(all .3s);

			color: #999;
			font: 24px Helvetica;
			display: inline-block;
			margin-left: 30px;
			margin-top: 15px;
			text-decoration: none;
		}
	}

	div {
		@include transition(all .3s);
		height: 60px;
	}

	&.highlight {
		nav {
			background-color: #999;
			height: 50px;
		}

		a {
			color: #fff;
			margin-left: 15px;
			margin-top: 10px;
		}

		div {
			height: 50px;
		}
	}
}
