.search-bar-container {
	color: $primary-color-text;
	float: right;
	position: relative;

	.search-icon {
		@include transition(all .5s);

		cursor: pointer;
		right: 40px;
		position: absolute;
		top: 12px;
	}

	.line {
		background-color: $primary-color-text;
		height: 2px;
		position: absolute;
		right: 46px;
		@include transform(rotate(45deg));
		top: 26px;
		width: 6px;
	}

	input {
		@include transition(all .1s linear 1s);
	    background: none;
	    border: none;
	    color: $primary-color-text;
	    font: 14px $font-family-primary;
	    font-size: 14px;
		opacity: 0;
	    outline: none;
	    position: absolute;
	    right: 67px;
	    top: 12px;
	    width: 176px;
	}


	&.expand {
		.search-icon {
			right: 43px;
		    top: 12px;
		    font-size: 19px;
		}

		.line {
			@include animation-name(line-animation);
			@include animation-duration(1s);
			@include animation-fill-mode(forwards);
			@include animation-timing-function(ease);
		}

		input {
			opacity: 1;
		}
	}

	@include keyframes(line-animation) {
		0% {
			@include transform(rotate(45deg));
			top: 26px;
			width: 6px;
		}
		50% {
			@include transform(rotate(0deg));
			top: 33px;
			width: 6px;
		}
		100% {
			@include transform(rotate(0deg));
			top: 33px;
			width: 200px;
		}
	}
}